.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.containerText{
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    padding: 0em;
    margin: 0em;
    margin-bottom: 20px;
    font-weight: large;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    border: 1px solid black;
    border-radius: 20px;
}

.input{
    width: 80%;
    margin-bottom: 15px;
}

.push{
    width: 50%;
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
}